{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <div class="container">
        <nav class="navbar navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('app_hotel_index') }}">Hotels</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('app_adminhotel_add') }}">Admin</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>


        <h1 class="text-center">{% block body_title %}{% endblock %}</h1>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        <i class="glyphicon glyphicon-ok"></i> {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% block content %}{% endblock %}
    </div>
{% endblock %}