{% extends "@App/layout.html.twig" %}

{% block title %}List of Hotels{% endblock %}

{% block body_title %}List of Hotels{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <p>{{ knp_pagination_sortable(pagination, 'Sort by price', 'h.price') }}

                {% if pagination.isSorted('h.price') %}
                    <i class="glyphicon glyphicon-sort-by-attributes{{ pagination.direction == 'desc' ? '-alt' }}"></i>
                {% endif %}
            </p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <ul class="media-list">
                {% for hotel in pagination %}
                    <li class="media">
                        <article class="media-body">
                            <h2 class="media-heading"><a href="{{ path('app_hotel_show', {hotel: hotel.id}) }}">{{ hotel.name }}</a>
                            <span class="text-success pull-right">${{ hotel.price }}</span>
                            </h2>
                            <p><b>Address:</b> {{ hotel.address }}</p>
                        </article>
                        <hr>
                    </li>
                {% endfor %}
            </ul>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
        <div class="col-sm-5">
            <div id="map" style="height: 300px;"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCzwNZR1zkoVcrebifrsyMYZqHgpj36-4&callback=initMap"
            async defer></script>
    <script type="text/javascript">
        var map;
        var marker;
        function initMap() {

            map = new google.maps.Map(document.getElementById('map'));

            var bounds = new google.maps.LatLngBounds();
            {% for hotel in hotels %}
            marker = new google.maps.Marker({
                map: map,
                clickable: false,
                position: new google.maps.LatLng({{ hotel.lat }}, {{ hotel.lng }})
            });
            bounds.extend(marker.position);
            {% endfor %}

            map.fitBounds(bounds);

        }
    </script>
{% endblock %}
