{% extends "@App/layout.html.twig" %}

{% block title %}{{ hotel.name }}{% endblock %}

{% block body_title %}{{ hotel.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-7">
            <p><b>Price:</b> ${{ hotel.price }}</p>
            <p><b>Address:</b> {{ hotel.address }}</p>
            {{ form_start(form, {attr: {'novalidate': 'novalidate'} }) }}
            {{ form_widget(form) }}
            <div class="form-actions">
                <button class="btn btn-primary pull-right" type="submit">Calculate</button>
            </div>

            {{ form_end(form) }}
        </div>
        <div class="col-sm-5">
            <div id="map" style="height: 300px;"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCzwNZR1zkoVcrebifrsyMYZqHgpj36-4&callback=initMap"
            async defer></script>
    <script type="text/javascript">
        var map;
        var marker;
        function initMap() {

            map = new google.maps.Map(document.getElementById('map'), {
                zoom:16,
                center: new google.maps.LatLng({{ hotel.lat }}, {{ hotel.lng }})
            });

            marker = new google.maps.Marker({
                map: map,
                clickable: false,
                position: new google.maps.LatLng({{ hotel.lat }}, {{ hotel.lng }})
            });

        }
    </script>
{% endblock %}
