{% extends "@App/layout.html.twig" %}

{% block title %}Add Hotel{% endblock %}

{% block body_title %}Add Hotel{% endblock %}

{% block content %}
    {{ form_start(form, {attr: {'novalidate': 'novalidate'} }) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <div id="map" style="height: 400px;"></div>
        </div>
    </div>
    <div class="form-actions">
        <button class="btn btn-primary pull-right" type="submit"><i class="glyphicon glyphicon-plus"></i> Add Hotel</button>
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCzwNZR1zkoVcrebifrsyMYZqHgpj36-4&callback=initMap"
            async defer></script>
    <script type="text/javascript">

        var geocoder;
        var map;
        var marker;
        function initMap() {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(25.762, -80.192);
            var mapOptions = {
                zoom: 15,
                center: latlng
            };
            map = new google.maps.Map(document.getElementById('map'), mapOptions);

            marker = new google.maps.Marker({
                map: map,
                draggable:true,
                position: latlng
            });

            marker.addListener('dragend', function() {
                setCoordinates(marker.getPosition());
            });

            document.getElementById('hotel_address').onblur = function() {
                var address = document.getElementById('hotel_address').value;
                if(address !== '') {
                    geocoder.geocode( { 'address': address}, function(results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            map.setCenter(results[0].geometry.location);
                            marker.setPosition(results[0].geometry.location);
                            setCoordinates(marker.getPosition());
                        } else {
                            alert('Geocode was not successful for the following reason: ' + status);
                        }
                    });
                }
            }
        }

        function setCoordinates(latnlg) {
            document.getElementById('hotel_lat').value = latnlg.lat();
            document.getElementById('hotel_lng').value = latnlg.lng();
        }
    </script>
{% endblock %}

